*{
    margin: 0;
    padding: 0;
}
body, html{
    height: 100%;
}
header{
    background-color: orange;
    width: 50%;
}

.principal{
    background-color: tomato;
    height: 100px;
}
.azul{
    background-color: blue;
    /* Nunca le ponga INLINE< */
    height: 150px;
    width: 300px;
    display: inline-block;
}
.articulo{
    background-color: lightgreen;
    width: 400px;
    height: 150px;
    display: inline-block;
}
span{
    border:1px solid gray;
    background-color: lightblue;

    display: block;
}
.cajas{
    height:100px;
    border: 1px solid violet;
    padding: 30px;
    width: 33%;
    /* Inline-block siempre me crea un pequeño margen */
    display: inline-block;
    box-sizing: border-box;
}
.cajas:nth-child(1){
    background-color: red;
}
.cajas:nth-child(3){
    background-color: blue;
}
.cajas:nth-child(3){
    background-color:yellow;
}
